*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

/* nav link */
.nav-link {
    font-weight: bold;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #8238c7;
    transition: all 0.3s ease-in-out;
}
.nav-link:hover::before {
    width: 100%;
}

.container {
    width: 90%; 
    margin: 0 auto; 
    padding: 10px 200px;
}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header-left, .header-right {
    margin-top: 3%;
    font-size: 20px;
}
.header-left p {
    margin-top: 50px;
    margin-bottom: 0;
}
.header-left h1 {
    font-size: 60px; 
    margin-top: 0;
    transition: transform 0.5s, color 0.5s;
}
.header-left h1:hover {
    transform: translateY(-5px);
    color: #8238c7; 
}
.header-left .intro-greet {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 15px;
    color: #3d3d3d;
}
.header-left button a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.header-left button {
    padding: 10px 20px;
    background-color: #080808;
    border-radius: 10px;
    margin: 10px;
    transition: background 0.5s;
}
.header-left button:hover {
    background-color: rgb(83, 10, 126);
}

.header-right img {
    width: 420px;
    height: 420px;
    object-fit: cover; /*binago*/
    border-radius: 36% 64% 58% 42% / 29% 51% 49% 71% ;
    margin-bottom: 20px;
    /*filter: drop-shadow(10px 8px 6px red);*/
    background-color: transparent;
    transition: filter 0.5s, transform 0.5s;
}

.header-right img:hover {
    filter: drop-shadow(10px 8px 6px rgb(83, 10, 126));
    transform: translateY(-10px);
}

/* icons */

.social-icon-logo {
    margin-top: 30px;
}

.social-icon-logo a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    
    display: inline-block;
    transition: transform 0.5s, color 0.5s; /* Added color transition */
}

.social-icon-logo a:hover {
    transform: translateY(-5px);
    color: #8238c7; /* Change this to the desired hover color */
}


/*---About--*/
#about {
    padding: 80px 0;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}
.about-col-1 img {
    width: 100%;
    border-radius: 20px;
    transition: filter 0.5s, transform 0.5s;
}

.about-col-1 img:hover {
    filter: drop-shadow(10px 8px 6px rgb(83, 10, 126));
    transform: translateY(-10px);
}

.about-col-2 {
    flex-basis: 60%;
    color: black;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: black;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: rgb(131, 36, 185);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: rgb(158, 42, 224);
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/* projects */
#project {
    padding-top: 0;
    padding-bottom: 80px;
}
.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #8238c7);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 10px;
    color: white;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #8238c7;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

/* technology section */
#technology-section {
    margin-bottom: 80px;
}
.tech-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px; /* Set a max-width for the container */
    margin: 0 auto; /* Center the container */
}

.cPlus-logo,
.html-logo,
.css-logo,
.js-logo,
.python-logo,
.django-logo {
    width: 10%; /* Set a percentage width for each logo */
    height: auto;
    margin: 10px; /* Adjust the margin as needed */
    transition: transform 0.5s
}

.cPlus-logo:hover,
.html-logo:hover,
.css-logo:hover,
.js-logo:hover,
.python-logo:hover,
.django-logo:hover {
    transform: translateY(-20px);
}
/* Media Query for smaller screens */
@media only screen and (max-width: 768px) {
    .cPlus-logo,
    .html-logo,
    .css-logo,
    .js-logo,
    .python-logo,
    .django-logo {
        width: 100%; /* Allow full width on smaller screens */
        max-width: none; /* Remove max-width on smaller screens */
    }
}

/* contact */
#contact {
    margin-bottom: 60px;
}

.contact-left {
    flex-basis: 30%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
    font-size: 12px;
}

.contact-left p i {
    color: rgb(131, 36, 185);
    margin-right: 15px;
    font-size: 20px;
}


.contact-right form {
    width: 100%;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #252525;
    padding: 15px;
    margin: 15px 0;
    color: white;
    font-size: 18px;
    border-radius: 6px;
}

.contact-right button {
    background-color: black;
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
    transition: background 0.5s;
}
.contact-right button:hover {
    background-color: rgb(83, 10, 126);
}
@media only screen and (max-width: 768px) {
    .container {
        padding: 10px; /* Adjust container padding for smaller screens */
    }

    .header-left h1 {
        font-size: 40px; /* Decrease font size for smaller screens */
    }

    .header-right img {
        width: 100%; /* Allow the image to take full width on smaller screens */
        height: auto;
    }

    .about-col-1 img {
        width: 100%; /* Allow the image to take full width on smaller screens */
        border-radius: 10px;
    }

    .sub-title {
        font-size: 40px; /* Decrease font size for smaller screens */
    }

    .tab-links {
        font-size: 16px; /* Decrease font size for smaller screens */
    }

    .tab-contents ul li {
        font-size: 14px; /* Decrease font size for smaller screens */
    }

    .work-list {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)); /* Adjust grid columns for smaller screens */
    }

    .work img {
        width: 100%; /* Allow the image to take full width on smaller screens */
    }

    .layer {
        padding: 0 20px; /* Adjust padding for smaller screens */
    }

    .tech-section .cPlus-logo,
    .tech-section .html-logo,
    .tech-section .css-logo,
    .tech-section .js-logo,
    .tech-section .python-logo,
    .tech-section .django-logo {
        width: 30%; /* Adjust percentage width for each logo on smaller screens */
        margin: 5px; /* Adjust margin for smaller screens */
    }

    .contact-left,
    .contact-right {
        flex-basis: 100%; /* Allow full width for contact sections on smaller screens */
    }

    .contact-left p {
        margin-top: 20px; /* Adjust margin for smaller screens */
    }

    .contact-right form input,
    .contact-right form textarea {
        margin: 10px 0; /* Adjust margin for smaller screens */
    }

    .contact-right button {
        width: 100%; /* Allow the button to take full width on smaller screens */
    }
}